.play-btn {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: url(/assets/img/play-button.png) no-repeat 5px / 40px;
    position: absolute;
    bottom: 25px;
    right: 90px;
    margin-left: -25px;
    margin-top: -40px;
    z-index: 1;
  
    cursor: pointer;
    
}

.pause-bt {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: url(../images/button/pause.png) no-repeat 5px / 40px;
    position: absolute;
    bottom: 25px;
    right: 90px;
    margin-left: -25px;
    margin-top: -40px;
    z-index: 1;
    cursor: pointer;
}



.mute-bt {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: url(../images/button/sound.png) no-repeat 5px / 40px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1;
    cursor: pointer;
}

.mute-bt.stop {
    background: url(../images/button/no-sound.png) no-repeat 5px / 40px;
}

.video {
    width: 100%;
    height: 100vh;
    position: relative;
}

.tv_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mobilevideo {
    width: 100%;
    height: 900px;
    position: relative;
}

.desktopThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    width: 100%;

}

.desktopThumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;


}

.playbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    z-index: 5;
    img{
       
        border: 4px solid white;
        padding: 30px;
        border-radius: 50%;
    }
}