.discount{
    padding-block: 100px;
    &-img{
        max-width: 900px;
    img{
        width: 100%;
    }
    }
        .discount-img-text{
            display: flex;
            justify-content: center;
            text-align: center;
            font-style: italic;
            p{
                max-width: 60%;
                padding-top: 20px;
            }
        }
    }
    .discount-text{
        .base{
            span{
                color: $text-color;
                text-align: end;
            }
        }
        .discount-blog{
            p{
                padding-block: 20px;
            }
        }
        .discount-button{
            padding-top: 100px;
        }
    }
