.offer {
    padding-bottom: 120px;
    &-heading {
        h3 {
            align-items: center;
            display: flex;
            justify-content: center;
            padding-top: 60px;
        }
    }
    &-card {
        position: absolute;
        width: 316px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 19px;
        bottom: -5rem;
        right: -3rem;
        background: #fff;
        padding: 20px;
        box-shadow: 6px 7px 5px #ffdb35;

    
        h6 {
            color: $text-color;
            font-size: 36px !important;
            line-height: 41px;
            font-weight: 600;
        
        }
    }
    &-img{
        position: relative;
        max-width: 520px;
      img{
        width: 100%;
      }
    }
    .row{
        margin-top: 90px;
    }

    .flex-row-reverse{
        .offer-card{
            left: -75px;
        }
    }




      

            .theme-btn {
                margin-top: 105px;
                margin-left: 28px;
                padding: 20px 25px 20px 25px;
            
                a {
                    color: $text-color !important;
                    font-size: 28px;
                }
            }
        }
    
    
       

        .theme-list {
            padding-top: 40px;
                li {
                    padding-block: 10px;
                    display: flex;
                    align-items: start;
                    gap: 10px;

                    i {
                        padding-right: 5px;
                        font-size: 16px;
                        padding-top: 6px;

                    }
                }
            }
        

