.wp-system {
    padding-block: 100px;
    background-color: #0E1126;
    .offer-card{
        position: absolute;
        width: 316px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 19px;
        left: -8rem;
        background: #fff;
        padding: 20px;
        box-shadow: 6px 7px 5px #ffdb35;
        text-align: left;
    }
    .wp-img {
        max-width: 600px;
        position: relative;
        img {
            width: 100%;
            border-radius: 43px;
        position: relative;
        }
    }

        h6{
            color: $text-color;
            font-size: 20px;
        }
    }
    .wp-text {
        h3 {
            color: #fff;
            padding-top: 10px;
        }

        .wp-text-list {
            padding-top: 40px;

            ul {
                li {
                    padding-block: 20px;
                    display: flex;
                    gap: 11px;
                    align-items: baseline;
                    .wp-text-list-icon{
                        i{
                            color: #ffcc07;
                            font-size: 16px;
                        }
                    }
                    .wp-text-list-text{
                    h5 {
                        color: #ffcc07 !important;
                        font-size: 28px;
                    }
                    p{
                        color: #fff !important;
                    }
                }
                }
            }
        }
    }
