.theme-btn {
  background: #ffcc07;
  border-radius: 34px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  font-feature-settings: 'calt' off;
  color: $primary-color;
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 10px 25px;
  font-family: $fontMain;

  span {
    margin-left: 8px;
  }

  &.dark-btn {
    background: $primary-color;
    color: #fff;

  
  }

 

    svg {
      path {
        fill: #fff;
      }
    }
  }
 

