.service-banner1 {
    background-color: #091126;
    padding-block: 170px;

    .banner-content {
        padding-top: 190px;
        h1 {
            color: #fff;
            line-height: 68px;
            font-weight: 600;
        }

        h5 {
            color: #ffcc07;
            font-size: 32px;
            font-style: italic;
            font-weight: 400;

            padding-block: 30px 138px;
        }
        button{
            border: 2px solid #ffcc07;
            background-color: transparent !important;
            padding: 15px 30px;
            a{
                color: #ffcc07 !important;
                font-size: 28px;
                font-weight: 300;
            }
        }
    }
    .banner-img{
        position: relative;
        img{
            border-radius: 35px;
        }
        .offer-card{
            width: 347px;
            bottom: -3rem;
            right: 24rem;
            background: #000;
            padding: 35px;
         span{
            color: #fff;
            font-weight: 500;
            line-height: 45px;
         }
        }
    }
}


.location{
    padding-block: 140px 170px;
    .location-map{
       background-color: #000;
    }
    
    .service-content{
        padding-left: 5rem;
    }
    .service-text-heading{
        h5{
            font-size: 32px;
        }
        h2{
            font-size: 52px;
        }
    }
    .service-text-list{
        li{
            display: block;
        .theme-list-heading{
            display: flex;
            gap: 20px;
            padding-bottom: 10px;
            
        }
        }
    }
}